{%- style -%}

{%- endstyle -%}
{{ 'feature-section.css' | asset_url | stylesheet_tag }}

<div class="feature-section">
  <div class="content-width">
    <div class="feature-section__header">
      <h2 class="h2">{{ section.settings.feature-section-header }}</h2>
    </div>
    <div class="features-grid">
      {%- for block in section.blocks -%}
       <div class="feature-item">
        {% case block.type %}
          {%- when 'feature' -%}
           <img src="{{ block.settings.image | image_url }}" width="36" height="36" alt="{{ block.settings.image }}" loading="lazy" />
         <h6 class="h6 feature-item__header">{{ block.settings.feature-title }}</h6>
         <p class="feature-item__header">{{ block.settings.feature-desc }}</p>
         {%- endcase -%}
   	   </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "feature-section",
  "settings": [
    {
      "type": "text",
      "id": "feature-section-header",
      "default": "Any uPet ID gives you",
      "label": "Feature Section Header"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Feature Image"
        },
        {
          "type": "text",
          "id": "feature-title",
          "default": "Feature title",
          "label": "Feature Title"
        },
        {
          "type": "richtext",
          "id": "feature-desc",
          "default": "<p>Put here the feature description</p>",
          "label": "feature-desc"
        }
      ]
    }
  ]
}
{% endschema %}

